{% load i18n static utils_tags %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="Mario Orlandi - Brainstorm S.n.c.">
        <title>Frontend-forms example</title>

        <link rel='stylesheet' href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
        <link rel='stylesheet' href="{% static 'bootstrap4-toggle/css/bootstrap4-toggle.min.css' %}">
        <link rel='stylesheet' href="{% static 'font-awesome/css/font-awesome.min.css' %}">
        <link rel='stylesheet' href="{% static 'sweetalert2/dist/sweetalert2.min.css' %}">
        <link rel='stylesheet' href="{% static 'dropzone/dist/min/dropzone.min.css' %}">
        <link rel="stylesheet" href="{% static 'frontend_forms/css/frontend_forms.css' %}">
        <link rel="stylesheet" href="{% static 'markup.css' %}">
        <link href="{% static 'pygments/styles/monokai.css' %}" media="screen" rel="stylesheet" type="text/css" />

        {# Select2 support #}
        <link rel="stylesheet" type="text/css" href="{% static 'select2/dist/css/select2.min.css' %}" />

        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <link rel="stylesheet" href="{% static 'frontend.css' %}">

        {% block extrastyle %}
        {% endblock extrastyle %}

        <meta name="theme-color" content="#563d7c">

    </head>
    <body>

        {% include 'toolbar.html' %}

        <div class="container-fluid">
            <div class="row">
                {% include 'sidebar.html' %}
                <main id="main" role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

    <a href="https://github.com/morlandi/django-frontend-forms" style="float: right">
        <img loading="lazy" width="149" height="149"
        src="{% static 'images/forkme_right_darkblue_121621.png' %}"
        class="attachment-full size-full"
        alt="Fork me on GitHub"
        data-recalc-dims="1">
    </a>

                    {% block messages %}
                        {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                                {% get_twitter_bootstrap_alert_msg_css_name message.tags as alert_tag %}
                                <li class="alert alert-{{ alert_tag }}">{{ message }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    {% endblock messages %}

                    <div class="page">
                        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                            <h1 class="h2">{% block page-title %}{{ page_title }}{% endblock page-title %}</h1>
                            <a href="{% url 'frontend:code' page_index %}"><i class="fa fa-search"></i> view code</a>
                        </div>

                        {# <h2>{% block page-subtitle %}Page subtitle{% endblock page-subtitle %}</h2> #}

                        {% block page-content %}
                        {% endblock page-content %}

                        {% include 'bottom_nav.html' %}

                </main>
            </div>
        </div>

    {% block modals %}
        {% include 'frontend_forms/overlay.html' %}
        {% include 'frontend_forms/dialogs.html' %}
    {% endblock modals %}

    {% if USE_VANILLA_JS %}
    <script src="{% static 'frontend_forms/js/frontend_forms_vanilla.js' %}"></script>
    <script src="{% static 'sweetalert2/dist/sweetalert2.min.js' %}"></script>
    {% else %}
    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'popper.js/dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'jquery-ui-dist/jquery-ui.min.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'bootstrap4-toggle/js/bootstrap4-toggle.min.js' %}"></script>
    <script src="{% static 'gasparesganga-jquery-loading-overlay/dist/loadingoverlay.min.js' %}"></script>
    <script src="{% static 'sweetalert2/dist/sweetalert2.min.js' %}"></script>
    <script src="{% static 'promise-polyfill/dist/polyfill.min.js' %}"></script>
    <script src="{% static 'frontend_forms/js/frontend_forms.jsx' %}"></script>
    <script src="{% static 'dropzone/dist/min/dropzone.min.js' %}"></script>

    <script src="{% static 'select2/dist/js/select2.min.js' %}"></script>
    <script src="{% static 'select2/dist/js/i18n/it.js' %}"></script>
    <script>
        // "Select2 does not function properly when I use it inside a Bootstrap modal"
        // https://select2.org/troubleshooting/common-problems#select2-does-not-function-properly-when-i-use-it-inside-a-bootst
        // Do this before you initialize any of your modals
        //$.fn.modal.Constructor.prototype._enforceFocus = function() {};

        $.fn.select2.defaults.set("language", "it");
    </script>
    <script src="{% static 'django_select2/django_select2.js' %}"></script>
    {% endif %}
    <script src="{% url 'frontend_forms:javascript-catalog' %}"></script>

    <script>

        {% if not USE_VANILLA_JS %}
        $(document).ready(function() {

            $('#login_with_dialog').on('click', function(event) {
                event.preventDefault();
                var target = $(event.target);
                var url = target.attr('href');
                var logged_in = false;

                var login_dialog = new Dialog({
                    url: url,
                    width: '400px',
                    min_height: '200px',
                    title: '<i class="fa fa-sign-in"></i> Login ...',
                    button_save_label: "{% trans 'Login' %}",
                    button_close_label: "{% trans 'Close' %}",
                    callback: function(event_name, dialog, params) {
                        switch (event_name) {
                            case "submitted":
                                logged_in = true;
                                break;
                            case "closed":
                                if (logged_in) {
                                    FrontendForms.redirect('/', true);
                                }
                                break;
                        }
                    }

                });

                login_dialog.open(event);
            });

        });

        Dropzone.autoDiscover = false;
        Dropzone.prototype.filesize = function (size) {
           filesizecalculation(size)
        };

        {% endif %}


        function getCookie(name) {
            var value = '; ' + document.cookie,
                parts = value.split('; ' + name + '=');
            if (parts.length == 2) return parts.pop().split(';').shift();
        }

        function filesizecalculation(size) {
            if (size < 1024 * 1024) {
                return "<strong>" + (Math.round(Math.round(size / 1024) * 10) / 10) + " KB</strong>";
            } else if (size < 1024 * 1024 * 1024) {
                return "<strong>" + (Math.round((size / 1024 / 1024) * 10) / 10) + " MB</strong>";
            } else if (size < 1024 * 1024 * 1024 * 1024) {
                return "<strong>" + (Math.round((size / 1024 / 1024 / 1024) * 10) / 10) + " GB</strong>";
            }
        }

    </script>

    {% block extrajs %}
    {% endblock extrajs %}
    </body>

</html>
