{% load i18n frontend_forms_tags %}

{% comment %}
<style>
.modal .grp-module {
    border: none;
    background-color: transparent;
}
</style>
{% endcomment %}

<div class="row">
    <div class="col-sm-12">
        <form method="post"{% if action %} action="{{ action }}"{% endif %} class="form{% if form_class %} {{form.form_class}}{% endif %}" novalidate autocomplete="off"{% if form.form_enctype %} enctype="{{form.form_enctype}}"{% endif %}>
            {% csrf_token %}
            {% render_form form %}
            <input type="hidden" name="object_id" value="{{ object.id|default:'' }}">
            <div class="form-submit-row">
                <input type="submit" value="{% trans 'Save' %}" />
            </div>
        </form>
    </div>
</div>
