{% load i18n static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel='stylesheet' href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel='stylesheet' href="{% static 'bootstrap4-toggle/css/bootstrap4-toggle.min.css' %}">
    <link rel='stylesheet' href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    <link rel='stylesheet' href="{% static 'sweetalert2/dist/sweetalert2.min.css' %}">
    <link rel='stylesheet' href="{% static 'dropzone/dist/min/dropzone.min.css' %}">
    <link rel="stylesheet" href="{% static 'frontend_forms/css/frontend_forms.css' %}">
    <link rel="stylesheet" href="{% static 'example.css' %}">
    <link rel="stylesheet" href="{% static 'markup.css' %}">
    <link href="{% static 'pygments/styles/monokai.css' %}" media="screen" rel="stylesheet" type="text/css" />

    {# Select2 support #}
    <link rel="stylesheet" type="text/css" href="{% static 'select2/dist/css/select2.min.css' %}" />

    {% block extrastyle %}
    {% endblock extrastyle %}

</head>

<body class="page-{% block body-class%}{% endblock body-class%}">

    <a href="https://github.com/morlandi/django-frontend-forms" style="float: right">
        <img loading="lazy" width="149" height="149"
        src="{% static 'images/forkme_right_darkblue_121621.png' %}"
        class="attachment-full size-full"
        alt="Fork me on GitHub"
        data-recalc-dims="1">
    </a>

    {% include 'navbar.html' %}

    <main role="main" class="container">

        <div id="page-title"><h2>{% block page-title %}{% endblock page-title %}</h2></div>

        {% block messages %}
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="{{message.tag}}">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endblock messages %}

        <div id="content">
        {% block content %}
            <h1>Content goes here</h1>
        {% endblock content %}
        </div>

    </main>


    {% block modals %}
        {% include 'frontend_forms/dialogs.html' %}
    {% endblock modals %}

    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'popper.js/dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'jquery-ui-dist/jquery-ui.min.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'bootstrap4-toggle/js/bootstrap4-toggle.min.js' %}"></script>
    <script src="{% static 'gasparesganga-jquery-loading-overlay/dist/loadingoverlay.min.js' %}"></script>
    <script src="{% static 'sweetalert2/dist/sweetalert2.min.js' %}"></script>
    <script src="{% static 'promise-polyfill/dist/polyfill.min.js' %}"></script>
    <script src="{% static 'frontend_forms/js/frontend_forms.jsx' %}"></script>
    <script src="{% static 'dropzone/dist/min/dropzone.min.js' %}"></script>

    {# Select2 support #}
    <script src="{% static 'select2/dist/js/select2.min.js' %}"></script>
    <script src="{% static 'select2/dist/js/i18n/it.js' %}"></script>
    <script>
        // "Select2 does not function properly when I use it inside a Bootstrap modal"
        // https://select2.org/troubleshooting/common-problems#select2-does-not-function-properly-when-i-use-it-inside-a-bootst
        // Do this before you initialize any of your modals
        //$.fn.modal.Constructor.prototype._enforceFocus = function() {};

        $.fn.select2.defaults.set("language", "it");
    </script>
    <script src="{% static 'django_select2/django_select2.js' %}"></script>

    <script>

        $(document).ready(function() {

            $('#login_with_dialog').on('click', function(event) {
                event.preventDefault();
                var target = $(event.target);
                var url = target.attr('href');
                var logged_in = false;

                var login_dialog = new Dialog({
                    url: url,
                    width: '400px',
                    min_height: '200px',
                    title: '<i class="fa fa-sign-in"></i> Login ...',
                    button_save_label: "Login",
                    button_close_label: "Close",
                    callback: function(event_name, dialog, params) {
                        switch (event_name) {
                            case "submitted":
                                logged_in = true;
                                break;
                            case "closed":
                                if (logged_in) {
                                    FrontendForms.redirect('/', true);
                                }
                                break;
                        }
                    }

                });

                login_dialog.open(event);
            });

        });

        Dropzone.autoDiscover = false;

        function getCookie(name) {
            var value = '; ' + document.cookie,
                parts = value.split('; ' + name + '=');
            if (parts.length == 2) return parts.pop().split(';').shift();
        }

        Dropzone.prototype.filesize = function (size) {
           filesizecalculation(size)
        };

        function filesizecalculation(size) {
            if (size < 1024 * 1024) {
                return "<strong>" + (Math.round(Math.round(size / 1024) * 10) / 10) + " KB</strong>";
            } else if (size < 1024 * 1024 * 1024) {
                return "<strong>" + (Math.round((size / 1024 / 1024) * 10) / 10) + " MB</strong>";
            } else if (size < 1024 * 1024 * 1024 * 1024) {
                return "<strong>" + (Math.round((size / 1024 / 1024 / 1024) * 10) / 10) + " GB</strong>";
            }
        }

    </script>

    {% block extrajs %}
    {% endblock extrajs %}

</body>

</html>
