{% load i18n %}

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/">django-frontend-forms example</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            {% comment %}
            <li class="nav-item">
                <a class="nav-link page-index" href="{% url 'others:files_upload' %}">{% trans 'Files upload' %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
            {% endcomment %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans 'Others' %}</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="{% url 'others:files_upload' %}">{% trans 'Files upload' %}</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav my-2 my-lg-0">
            {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <span class="nav-link">({{request.user}})</span>
                </li>
                <li class="nav-item">
                    <a href="{% url 'frontend_forms:logout' %}" class="nav-link">{% trans 'Logout' %}</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a href="{% url 'frontend_forms:login' %}" class="nav-link">{% trans 'Login (standalone)' %}</a>
                </li>
                <li class="nav-item">
                    <a id="login_with_dialog" href="{% url 'frontend_forms:login' %}" class="nav-link">{% trans 'Login (popup)' %}
                    </a>
                </li>
            {% endif %}
            </li>
        </ul>
        {% comment %}
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
        {% endcomment %}
    </div>
</nav>
