{% extends 'base0.html' %}
{% load markup %}

{% block page-content %}

{% filter restructuredtext %}
I try to take advantage of the powerful Django admin in all my web projects, at least in the beginning.

However, as the project evolves and the frontend improves, the usage of the admin tends to be more and more residual.

Adding editing capabilities to the frontend in a modern user interface requires the usage of modal forms, which, to be honest, have always puzzled me for some reason.

`django-frontend-form` is a package which provides tools for working with modal popups,
form submission and validation via ajax in a Django project.

This accompanying Example project presents a collection of techniques and best practices aimed to organize
the code in an effective way to minimize repetitions.

.. figure:: /static/images/main_screen.png
{% endfilter %}


{% endblock page-content %}
