{% extends 'base0.html' %}
{% load markup %}

{% block page-content %}

{% filter restructuredtext %}

======================================================= ========================================================================================
Helper                                                  Purpose
------------------------------------------------------- ----------------------------------------------------------------------------------------
display_server_error(errorDetails)                      Display an error message using SweetAlert2; failing that, uses a simple alert instead
display_message(html_content)                           Display a message using SweetAlert2; failing that, uses a simple alert instead
redirect(url, show_overlay=False)                       Similar behavior as an HTTP redirect; optionally calls overlay_show('body')
gotourl(url, show_overlay=False)                        Similar behavior as clicking on a link; optionally calls overlay_show('body')
reload_page(show_overlay=False)                         Reload the current page; optionally calls overlay_show('body')
overlay_show(element)                                   Show overlay on given element; Requires: gasparesganga-jquery-loading-overlay
overlay_hide(element)                                   Hide overlay on given element; Requires: gasparesganga-jquery-loading-overlay
hide_mouse_cursor                                       Hide the mouse cursor
dumpObject(obj, max_depth)                              Serialize the given dictionary up to `max_depth` levels
logObject(element, obj)                                 Render `obj` content as HTML table an assign to given element
isEmptyObject(obj)                                      Check if given `obj` is empty
cloneObject(obj)                                        Deep clone an object in JavaScript
lookup(array, prop, value)                              Find an Object by attribute in an Array
formdata_serialize(formData)                            Serializing form data with the vanilla JS FormData() object
formdata_to_querystring(formData)                       Transform FormData into query string
adjust_canvas_size(id)                                  Adapts canvas size to desired size
getCookie(name)                                         Add to POST headers as follows: FrontendForms.getCookie('csrftoken')
confirmRemoteAction(url, options, afterDoneCallback)    Invoke remote action upon user confirmation.
downloadFromAjaxPost(url, params, headers, callback)    Handle file download from ajax post
querystring_parse(qs, sep, eq, options)                 Parse query string
set_datepicker_defaults(language_code)                  Set datepicker defaults, and optionally select language ("it" or "es" for now)
apply_multiselect(elements)                             Bind MultiSelect widget
======================================================= ========================================================================================


{% endfilter %}

    <button id="button-overlay_show" class="btn btn-primary">overlay_show('body')</button>

{% endblock page-content %}


{% block extrastyle %}
    <style>
        {{ block.super }}
    </style>
{% endblock extrastyle %}


{% block extrajs %}
    <script type="text/javascript">
        {{ block.super }}
        'use strict';
        $(document).ready(function() {
        });
    </script>
{% endblock %}
