{% extends 'base0.html' %}
{% load markup %}

{% block page-content %}


<table>
    <tbody>
    <tr>
        <td><button id="button-overlay_show" class="btn btn-primary">overlay_show('body')</button></td>
        <td><p>Show overlay on current page; Requires: "include 'frontend_forms/overlay.html'"</p></td>
    </tr>
    <tr>
        <td><button class="btn btn-primary" onclick="FrontendForms.redirect('https://brainstorm.it', true);">redirect(url, show_layer=true)</button></td>
        <td><p>Similar behavior as an HTTP redirect; optionally calls overlay_show('body')</p></td>
    </tr>
    <tr>
        <td><button class="btn btn-primary" onclick="FrontendForms.gotourl('https://brainstorm.it', true);">gotourl(url, show_layer=true)</button></td>
        <td><p>Similar behavior as clicking on a link; optionally calls overlay_show('body')</p></td>
    </tr>
    <tr>
        <td><button class="btn btn-primary" onclick="FrontendForms.reload_page(true);">reload_page(show_layer=true)</button></td>
        <td><p>Reload the current page; optionally calls overlay_show('body')</p></td>
    </tr>
    <tr>
        <td><button class="btn btn-primary" onclick="FrontendForms.hide_mouse_cursor();">hide_mouse_cursor()</button></td>
        <td><p>Hide the mouse cursor</p></td>
    </tr>
    <tr>
        <td><button class="btn btn-primary" onclick="FrontendForms.display_message('ciao', title='', message_type='success');">display_message()</button></td>
        <td><p>Display a message using SweetAlert2; failing that, uses a simple alert instead</p></td>
    </tr>
    <tr>
        <td><button class="btn btn-primary" onclick="FrontendForms.display_server_error('error message');">display_server_error()</button></td>
        <td><p>Display an error message using SweetAlert2; failing that, uses a simple alert instead</p></td>
    </tr>
    </tbody>
</table>

{% filter restructuredtext %}
======================================================= ========================================================================================
Helper                                                  Purpose
------------------------------------------------------- ----------------------------------------------------------------------------------------
display_server_error(errorDetails)                      Display an error message using SweetAlert2; failing that, uses a simple alert instead
display_message(html_content)                           Display a message using SweetAlert2; failing that, uses a simple alert instead
redirect(url, show_overlay=False)                       Similar behavior as an HTTP redirect; optionally calls overlay_show('body')
gotourl(url, show_overlay=False)                        Similar behavior as clicking on a link; optionally calls overlay_show('body')
reload_page(show_overlay=False)                         Reload the current page; optionally calls overlay_show('body')
overlay_show(element)                                   Show overlay on given element; Requires: gasparesganga-jquery-loading-overlay
overlay_hide(element)                                   Hide overlay on given element; Requires: gasparesganga-jquery-loading-overlay
hide_mouse_cursor                                       Hide the mouse cursor
dumpObject(obj, max_depth)                              Serialize the given dictionary up to `max_depth` levels
logObject(element, obj)                                 Render `obj` content as HTML table an assign to given element
isEmptyObject(obj)                                      Check if given `obj` is empty
cloneObject(obj)                                        Deep clone an object in JavaScript
lookup(array, prop, value)                              Find an Object by attribute in an Array
formdata_serialize(formData)                            Serializing form data with the vanilla JS FormData() object
formdata_to_querystring(formData)                       Transform FormData into query string
adjust_canvas_size(id)                                  Adapts canvas size to desired size
getCookie(name)                                         Add to POST headers as follows: FrontendForms.getCookie('csrftoken')
confirmRemoteAction(url, options, afterDoneCallback)    Invoke remote action upon user confirmation.
downloadFromAjaxPost(url, params, headers, callback)    Handle file download from ajax post
querystring_parse(qs, sep, eq, options)                 Parse query string
set_datepicker_defaults(language_code)                  Set datepicker defaults, and optionally select language ("it" or "es" for now)
apply_multiselect(elements)                             Bind MultiSelect widget
======================================================= ========================================================================================

{% endfilter %}

{% endblock page-content %}


{% block extrajs %}
    <script type="text/javascript">
        {{ block.super }}
        'use strict';

        window.addEventListener('load', function() {

            document.querySelector('#button-overlay_show').addEventListener('click', function(event) {
                FrontendForms.overlay_show('body');
                setTimeout(function() {
                    FrontendForms.overlay_hide('body');
                }, 3000);
            });

        });
    </script>
{% endblock %}
