{% extends 'base.html' %}
{% load i18n utils_tags frontend_forms_tags %}

{% block page-title %}{% trans 'Example: chained selection' %}{% endblock page-title %}
{% block body-class%}chained_selection{% endblock body-class %}


{% block content %}

<div class="container">

    <div class="row">
        <div class="col-md-6">
            <div id="form-container">

                {% include 'others/chained_selection_inner.html' %}

            </div>
        </div>
        <div class="col-md-6">
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <a href="#" class="link-button btn btn-primary" onclick="window.dialog1.open(event); return false;">Go modal</a>
            <h3>{% trans 'References' %}</h3>
            <ul>
                <li><a href="https://django-select2.readthedocs.io/en/latest/extra.html#chained-select2">Django-Select2 Docs/Extra</a></li>
            </ul>
        </div>
    </div>

</div>

{% endblock content %}


{% block extrajs %}
    {{ block.super }}
    <script type="text/javascript">

        $(document).ready(function() {

            window.dialog1 = new Dialog({
                url: "{% url 'others:chained_selection' %}",
                dialog_selector: '#dialog_generic',
                html: '<h1>Loading ...</h1>',
                width: '400px',
                min_height: '200px',
                title: '<i class="fa fa-calculator"></i> Edit a new track ...',
                button_save_initially_hidden: true,
                enable_trace: true,
                callback: function(event_name, dialog, params) {
                    switch (event_name) {
                        case "loaded":
                            // "Select2 does not function properly when I use it inside a Bootstrap modal":
                            // https://select2.org/troubleshooting/common-problems#select2-does-not-function-properly-when-i-use-it-inside-a-bootst
                            dialog.element.find('.django-select2').djangoSelect2({
                                dropdownParent: dialog.element
                            });
                            break;
                    }
                }
            });


        });
    </script>

{% endblock extrajs %}


{% block extrastyle %}
    {{ block.super }}

    <style>
    </style>

{% endblock extrastyle %}
